body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
}

#gameover__box {
    background-color: gray;
    opacity: 0.9;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    visibility: hidden;
}


#gameover {
    padding: 10px 20px;
    background-color: red;
    min-height: 160px;
    width: 200px;
    margin: 0 auto;
    z-index: 10;
    top: 40%;  
    margin: 100px auto;
    opacity: 1;
}

.gamebtn {
    background-color: blue;
    color: white;
    padding: 10px 35px;
}

.btns {
    display: flex;
    flex-direction: column; 
    gap: 5px;
    align-items: center;
}

.keys {
    border: none;
    font-size: 20px;
    align-items: center;
    text-align: center;
    background-color: rgb(103, 169, 10);
    padding: 10px 23px;
    border-radius: 20px;
    color: #ffFeef;
}

.keys:active{
    background-color: rgb(110, 88, 234);
}
